*{
    width: 100%;
    margin: 0px;
}
#Logo{
    width: 7%;
    margin-left: 0px;
    margin: 1%;
    height: 10%;   
}
header{
    background-color: rgb(70, 93, 158);
    display: flex;
}
header a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 24px;
}
header button{
    width: 20%;
    height: 10%;
    margin: 1%;
    margin-top: 5%;
    border-radius: 10px;
    border: 3px solid rgb(102, 100, 100);
}
header button a:hover{
    color: rgb(27, 36, 161);
}
header button a{
    transition: .7s;
}